* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 200;
  color: #666666;
}

body {
  position: relative;
  width: 100%;
  min-width: 400px;
  background-color: #efefef;
}

header, section {
  width: 80%;
  margin: 0 auto;
  padding: 25px 25px 10px 25px;
  text-align: center;
}

section {
  position: absolute;
  display: inline-block;
  height: 50%;
  left: 10%;
  top: 150px;
}

h2 {
  font-weight: 200;
}

h4, div {
  display: inline-block;
  width: calc( 100% / 7);
  min-width: 38px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-bottom: 1px solid #cccccc;
  height: 20px;
}

h4:first-child, div:first-child {
  border-left: 1px solid #cccccc;
}

h4 {
  text-align: center;
  font-weight: 200;
}

ul {
  width: ;
  height: 50px;
  list-style-type: none;
  display: flex;
}

ul:first-of-type {
  justify-content: flex-end;
}

ul:last-of-type {
  justify-content: flex-start;
}

li {
  width: calc(100% / 7);
  text-align: right;
  text-decoration: none;
  display: inline-block;
  height: 100%;
  color: red;
  padding: 0 5px;
}

li:nth-child(7n), li:nth-child(7n-6){
  background-color: #e6e6e6;
}

li:nth-child(n+0):nth-child(n+8) {
}

/* width checker start */
/*#widthChecker {
  background-color: rgba(0,255,255,0.2);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  font-family: sans-serif;
  font-size: .75em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 30px;
  line-height: 30px;
}*/
/* width checker end */
